body{
    background-image: url(../img/rodape.jpeg);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

table{
  padding-top: 3%;
  padding-left: 45%;
  padding-right: 45%;
  padding-bottom: 3%;
}

td{
  border: 10px;
  width: 70px;
  height: 70px;
}

input{
  border-radius: 10px;
  height: 30px;
  width: 120px;
}

button{
  border-radius: 10px;
  margin-top: 10px;
}

.corpo{
    margin-top: 8%;
    text-align: center;
    margin: 20px;
}

#busca{
  text-align: center;
}

#titulo{
    background-image: linear-gradient(109deg, rgb(245, 142, 101) 30%, rgb(248, 96, 8) 70%);
    text-align: center;
    font-size: 28px; 
    font-family:Courier New;
    font-weight: bold;
    padding: 0.5cm;
}

.carrinho{
    background-image: linear-gradient(109deg, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 70%);
    text-align: center;
    font-size: 20px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 20px;
    width: 25cm;
    padding: 0.5cm;

    height: 30px;
    left: 85%;
    margin-left: -800px;
    margin-top: -120px;
    position: fixed;
    top: 95%;
    width: 600px;
}

#escopo{
    background-image: linear-gradient(109deg, rgb(245, 88, 16) 30%, rgb(250, 79, 0) 70%);
    opacity: 0.9;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    padding: 1.5cm;
    text-align: justify;
}

.modelo{
  margin: 300px;
}

.perfil{
  text-align: center;
  position: center;
  margin-top: 100px;
}

.botoes{
  text-align: center;
  margin: 10px;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

.botoes a{
  text-decoration: none;
}

form {
    margin: 0 auto;
    width: 400px;

    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: left;
    background-color: #FFC086;
}

form div + div {
  margin-top: 20px;
}

label {

  display: inline-block;
  width: 350px;
  text-align: left;
}

#pedido{
  margin: 10px;
  text-align: left;
}

.itens{
  margin: 10px;
}

#mensagem{
  width: 400px;
  height: 80px;
}