
#menu{
    background-image: url(../img/body.jpeg);
    text-align: right;
    font-size: 28px; 
    font-family:Courier New;
    font-weight: bold;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-right: 8cm;
  }

#logo {
    overflow: hidden;
    margin-left: 10cm;
	float: left;
	transition: 0.3s ease;
}
